<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <style>
         a{
            text-decoration: none;
            color: green;
            
        }
        button{
            padding: 8px 8px;
            border-style: none;
            background-color: rgb(90, 153, 90);
            color: white;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2>Edit Product Details</h2>
    <form method="post" class="upload-form">
        {%csrf_token%}
        {{form.as_p}}

        <button type="submit" class="button">Save</button> 
    </form>
   
</body>
</html>