
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart List</title>
    <style>
         a{
            text-decoration: none;
            color: green;
            
        }
        button{
            padding: 8px 8px;
            border-style: none;
            background-color: rgb(90, 153, 90);
            color: white;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="allproducts">
        {% for cart in carts %}
       
            <div class="product-container">
                 
              
                <h4>Products :{{cart.product.name}}</h4>
                <h4 class="product-description">Notes:{{cart.notes}}</h4>
                
                <h4 class="product-price">Cart Status:{{ cart.cartstatus}}</h4>
             <button><a href="{% url 'cart_detail_view' id=cart.id %}">View Details</a>  </button>   
               <button> <a href="{% url 'cart_update_view' id=cart.id %}">Edit Cart</a></button>  
            
            </div>
        
      
        {% endfor %}
    </div>     
   
</body>
</html> 
