<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete this cart?</h1>
    <h2>{{cart.customer.name}}</h2>
        <p>{{cart.products.name}}</p>
        <h4> {{cart.cartstatus}}</h4>
        <button>PAY</button>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</body>
</html>