<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Profile</title>

    <style>
        a{
           text-decoration: none;
       }
       button{
           padding: 12px 8px;
           border-style: none;
           background-color: rgb(90, 153, 90);
           color: white;
           margin-right: 20px;
       }
   </style>
</head>
<body>
    <h1>Are you sure you want to delete this product?</h1>
    <img src="{{customer.image.url}}" class="img"/>
    <p>Customer Name: {{ product.name }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</body>
</html>
