<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
</head>
<body>
    <h2>Customer Name:{{order.customer.name}}</h2>
        <h2>Order Number:{{order.order_number}}</h2>
        <p>Order Date:{{order.order_date}}</p>
        <h4> Order Status:{{order.order_status}}</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</body>
</html>

