<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>

    <style>
        .allorders{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        a{
            text-decoration: none;
        }
        button{
            padding: 12px 8px;
            border-style: none;
            background-color: rgb(90, 153, 90);
            color: white;
            margin-right: 20px;
        }
    </style>
  
</head>
<body>
    <div class="allorders">
    {% for order in orders %}
   
        <div>
           
            <h1 >Customer Name:{{ order.customer.name }}</h1>
            <h1>Ordered Products :{{order.product.name}}</h1>
            <h4 >Order Number :{{ order.order_number }}</h4>
            <h4>Time Stamp :{{order.order_date }}</h4>
            <h4 >Order Status:{{order.order_status }}</h4>

            <button>   <a href="{% url 'order_detail_view' id=order.id %}">View Details</a></button>

          
          <button> <a href="{% url 'order_update_view' id=order.id %}">Edit Order</a> </button> 
        
        </div>
    
  
    {% endfor %}
</div>
</body>
</html>
