<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <style>
          button{
            padding: 12px 8px;
            border-style: none;
            background-color: rgb(90, 153, 90);
            color: white;
            margin-right: 20px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div >
        <h2>Customer Name:{{order.customer.name}}</h2>
        <h2>Order Number:{{order.order_number}}</h2>
        <p>Order Date:{{order.order_date}}</p>
        <h4> Order Status:{{order.order_status}}</h4>
        
        <button><a href="{% url 'order_delete_view' id=order.id %}">Delete Order</a> 
        </button>

        <button>>Confirm Order
        </button>


    </div>
</body>
</html>
