<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Cancellation</title>
</head>
<body>
    <h1>Are you sure you want to cancel the payment?</h1>
    <h1 class="product-name">{{payment.order }}</h1>
    <h4 class="product-description">{{payment.amount }}</h4>
    <h4 class="product-price">{{ payment.paymentmethod }}</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</body>
</html>