<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
    
      
        
    </style>
</head>
<body>
    <div >
    {% for payment in payments %}
   
        <div >
            <h1>{{payment.order }}</h1>
            <h4>{{paymnet.amount }}</h4>
            <h4 >{{ payment.paymentmethod }}</h4>
            <h4 >{{payment.paymentstatus }}</h4>
            <h4 >{{ payment.datepaid}}</h4>
            <button>  <a href="{% url 'payment_detail_view' id=payment.id %}">View Details</a> </button>
            <button><a href="{% url 'payment_update_view' id=payment.id %}">Edit Paymnent</a>   </button> 
             <button>DELIVERY</button>

        
        </div>
    
  
    {% endfor %}
</div>
</body>
</html>

