
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Details</title>
    <style>
         a{
            text-decoration: none;
            color: green;
            
        }
        button{
            padding: 8px 8px;
            border-style: none;
            background-color: rgb(90, 153, 90);
            color: white;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Payment Details</h1>
        
            <h4 >Amount:{{payment.amount }}</h4>
            <h4 >Payment Method:{{ payment.paymentmethod }}</h4>
            <h4>Payment Status:{{payment.paymentstatus }}</h4>
            <h4 >Timestamp:{{ payment.datepaid}}</h4>

            <button>Delivery</button>
            <button><a href="{% url 'payment_delete_view' id=payment.id %}">Cancel Payment</a> 
            </button> 
    
    </div>
</body>
</html>
